<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Register Workout</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
  <th:block th:replace="layout :: topbar"></th:block>
  <th:block th:replace="layout :: header"></th:block>
  <!-- Page Header Start -->
  <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">Register Workout</h1>
      <div class="d-inline-flex">
        <p class="m-0"><a href="/">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">Register Workout</p>
      </div>
    </div>
  </div>
  <!-- Page Header End -->
  <div class="container">
    <div class="row" style="margin: 20px 0; display: flex; justify-content: center;">
      <div class="bmi__form__wrap">
        <form class="bmi__form" method="post" th:action="@{'/workout/register/' + ${id}}">
          <input type="text" name="name" placeholder="*Name" required autofocus>
          <input type="text" name="phone" placeholder="*Phone" required>
          <input type="email" name="email" placeholder="*Email" required>
          <select id="" name="session" required>
            <option value="0">Session</option>
            <option value="1">Morning</option>
            <option value="2">Afternoon</option>
            <option value="3">Evening</option>
          </select>
          <button class="btn btn-primary" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
  <th:block th:replace="layout :: footer"></th:block>
</body>
</html>